@font-face {
  font-family: Georgia;
  src: url("../../assets/fonts/georgia-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Arial;
  src: url("../../assets/fonts/arial-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 1280px) {
  body {
    min-width: 1280px;
  }

  header {
    min-width: 1280px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px 0 40px;
}

.bg-dark {
  background: url(../../assets/images/noise_transparent@2x.png) repeat;
}

header {
  position: absolute;
  left: 0;
  right: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding-top: 60px;
}

h1 {
  margin: 0 0;
  padding-top: 1px;
  font-family: 'Georgia';
  font-size: 32px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo-block h2 {
  margin: 10px 0 0 0;
  padding-left: 4px;
  font-family: 'Arial';
  font-size: 13px;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.logo-block a {
  text-decoration: none;
}

.burger-menu {
  display: none;
}

.nav-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  list-style: none;
}

.nav-container li a {
  padding-left: 36px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #CDCDCD;
  text-decoration: none;
}

.nav-container a {
  padding-bottom: 3px;
  position: relative;
  display: block;
}

.nav-container .item-underlined {
  color: #FAFAFA;
}

.nav-container a:not(.item-underlined):hover {
  color: #FAFAFA;
  transition: 0.5s ease;
}

.item-underlined::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 36px;
  right: -1px;
  height: 3px;
  background-color: #F1CDB3;
}

.nav-container .logo-block {
  display: none;
}

.not-only-section {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.not-only-container {
  display: flex;
}

.not-only-block {
  padding-top: 343px;
  max-width: 460px;
}

.not-only-block h2 {
  margin: 0;
  padding: 1px 0 41px;
  font-family: 'Georgia';
  font-size: 44px;
  line-height: 57px;
  font-weight: 400;
  color: #FFFFFF;
}

.line-break {
  display: block;
}

.section-text {
  margin: 0;
  padding-bottom: 42px;
  font-family: 'Arial';
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #CDCDCD;
}

.make-friend-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 207px;
  height: 52px;
  background-color: #F1CDB3;
  border-radius: 100px;
}

.make-friend-button:hover {
  background-color: #FDDCC4;
  transition: 0.5s ease;
}

.not-only-image {
  padding: 180px 0 0 42px;
}

.make-friend-button a {
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}

.about-section {
  margin-top: -4.391px;
  background: #FFFFFF;
}

.about-container {
  padding: 80px 0 100px 0;
  display: flex;
}

.about-image {
  padding-left: 175px;
}

.about-block {
  padding: 14px 175px 0 120px;
}

.section-title {
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

.dark {
  padding: 25px 0 0 0;
  color:#4C4C4C;
}

.our-friends-section {
  margin-top: -4.391px;
  padding: 80px 0 100px;
  background: #F6F6F6;
}

.centered {
  padding-bottom: 60px;
  text-align: center;
}

.slider-container {
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 90px;
}

.pet-card {
  background: #FAFAFA;
  border-radius: 9px;
}

.pet-card:hover {
  background: #FFFFFF;
  transition: 0.5s ease;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.pet-card:hover .learn-more-button {
  background-color: #FDDCC4;
  transition: 0.5s ease;
  border: none;
}

.pet-card img {
  padding-bottom: 27px;
}

h4 {
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 20px;
  line-height: 1em;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.learn-more-button {
  margin: 31.5px 41.5px 30px;
  width: 187px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
}

.learn-more-button:hover {
  background-color: #FDDCC4;
  transition: 0.5s ease;
  border: none;
}

.rest-button {
  margin: 60px auto 0;
  width: 260px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1CDB3;
  border-radius: 100px;
}

.rest-button a {
  font-family: 'Georgia';
  font-style: normal;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}

.rest-button:hover {
  background-color: #FDDCC4;
  transition: 0.5s ease;
}

.prev,
.next {
  margin-top: 192px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: #FDDCC4;
  transition: 0.5s ease;
  border: none;
}

.prev {
  margin-right: 53px;
  background: url(../../assets/icons/arrow-prev.svg) no-repeat;
  background-position: 50%;
}
.next {
  margin-left: 53px;
  background: url(../../assets/icons/arrow-next.svg) no-repeat;
  background-position: 50%;
}

.help-section {
  padding: 80px 0 100px;
  background: #FFFFFF;
}

.options-container {
  padding-left: 87px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10.75%;
  row-gap: 58px;
}

.options-icon {
  margin: auto;
  padding-bottom: 30px;
  width: 60px;
  height: 60px;
}

.pet-food-icon {
  background-image: url(../../assets/icons/icon-pet-food.svg);
  background-repeat: no-repeat;
}

.transportation-icon {
  background-image: url(../../assets/icons/icon-transportation.svg);
  background-repeat: no-repeat;
}

.toys-icon {
  background-image: url(../../assets/icons/icon-toys.svg);
  background-repeat: no-repeat;
}

.bowls-icon {
  background-image: url(../../assets/icons/icon-bowls-and-cups.svg);
  background-repeat: no-repeat;
}

.shampoos-icon {
  background-image: url(../../assets/icons/icon-shampoos.svg);
  background-repeat: no-repeat;
}

.vitamins-icon {
  background-image: url(../../assets/icons/icon-vitamins.svg);
  background-repeat: no-repeat;
}

.medicines-icon {
  background-image: url(../../assets/icons/icon-medicines.svg);
  background-repeat: no-repeat;
}

.collars-icon {
  background-image: url(../../assets/icons/icon-collars-leashes.svg);
  background-repeat: no-repeat;
}

.sleeping-area-icon {
  background-image: url(../../assets/icons/icon-sleeping-area.svg);
  background-repeat: no-repeat;
}

.bottom-row {
  padding-left: 84px;
}

.in-addition-section {
  margin-top: 3px;
  background: #F6F6F6;
}

.in-addition-container {
  padding: 80px 143px 100px;
  display: flex;
}

.in-addition-image {
  padding: 11px 30px 0 0;
}

h5 {
  margin: 0;
  padding: 20px 0;
  font-family: 'Georgia';
  font-style: normal;
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
}

.account-button {
  display: flex;
  width: 349px;
  height: 43px;
  align-items: center;
  border-radius: 9px;
  background: url(../../assets/icons/credit-card.svg) no-repeat;
  background-position: 5%;
  background-color: #F1CDB3;
}

.account-button:hover {
  background-color: #FDDCC4;
  transition: 0.5s ease;
}

.account-button a {
  text-decoration: none;
  cursor: pointer;
}

.account-button h4 {
  padding-left: 60px;
}

.in-addition-block p {
  margin: 0;
  padding-top: 20px;
  font-family: 'Arial';
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #B2B2B2;
}

footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.contacts-container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-block {
  max-width: 280px;
}

.location-block {
  max-width: 302px;
}

.contacts-block h3 {
  padding: 17px 0 39px;
  color: #FFFFFF;
}

.contacts-item a {
  text-decoration: none;
  color: #F1CDB3;
}

.email-icon {
  background: url(../../assets/icons/icon-email.svg) no-repeat;
  width: 40px;
  height: 32px;
}

.phone-icon {
  background: url(../../assets/icons/icon-phone.svg) no-repeat;
  width: 40px;
  height: 32px;
}

.contacts-item {
  display: flex;
  align-items: center;
  height: 32px;
}

.email-item h4,
.phone-item h4 {
  padding-left: 20px;
}

.email-item {
  padding-bottom: 40px;
}

.location-icon {
  background: url(../../assets/icons/icon-marker.svg) no-repeat;
  width: 22px;
  height: 32px;
}

.first-item h4,
.second-item h4 {
  padding-left: 20px;
  padding-top: 1px;
}

.first-item {
  padding-bottom: 40px;
}

.first-item h4 {
  text-align: start;
}

.first-item .line-break {
  padding-top: 3px;
}

.image-block {
  font-size: 0;
}

@media (max-width: 1279px) {
  .container {
    padding: 0 30px 0 30px;
  }

  .header-container {
    padding-top: 30px;
  }

  .not-only-container {
    flex-direction: column;
  }
  
  .not-only-block {
    margin: 0 auto;
    padding-top: 150px;
  }
  
  .make-friend-button {
    margin: 0 auto;
  }
  
  .not-only-image {
    margin: auto;
    padding: 100px 0 0 139px;
  }
  
  .about-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .about-image {
    padding-left: 0;
  }
  
  .about-block {
    margin: 0 auto;
    padding: 0 0 80px;
    max-width: 430px;
  }
  
  .cards-container {
    column-gap: 40px;
  }

  .cards-container div:last-child {
    display: none;
  }

  .slider-container {
    column-gap: 1.69%;
  }
  
  .prev {
    margin-right: 0;
  }

  .next {
    margin-left: 0;
  }
  
  .options-container {
    margin: 0 auto;
    padding: 0 39px 0 39px;
    max-width: 630px;
    column-gap: 9.52%;
  }

  .options-element {
    width: 26.98%;
  }
  
  .bottom-row {
    padding: 0;
  }
  
  .in-addition-container {
    padding: 80px 0 100px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .in-addition-block {
    margin: 0 auto;
    max-width: 380px;
  }
  
  .in-addition-image {
    padding: 60px 0 0;
  }

  .account-button a h4 {
    line-height: 23px;
  }
  
  .contacts-container {
    margin: -4.391px auto 0;
    padding: 31px 34px 0;
    max-width: 708px;
  }

  .contacts-block {
    padding-bottom: 65px;
  }
  
  .contacts-block h3 {
    padding: 0 0 39px;
  }

  .image-block {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px 0 10px;
  }

  .header-container {
    padding-right: 43px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .nav-container {
    position: fixed;
    z-index: 2;
    top: 0;
    right: -100%;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s ease;
    margin: 0;
    padding: 0;
    width: 320px;
    height: 100vh;
    gap: 40px;
    background-color: #292929;
  }

  .nav-container.open {
    right: 0;
    transition: 0.5s ease;
  }

  .nav-container li:nth-child(1) {
    margin-bottom: 40px;
  }

  .nav-container li a {
    margin-right: 36px;
    padding-left: 36px;
    font-size: 32px;
    line-height: 51px;
  }

  .nav-container .logo-block {
    position: absolute;
    display: block;
    top: 30px;
    left: 10px;
  }

  .logo-block .logo-title {
    margin: 0 0;
    padding-top: 1px;
    padding-left: 0;
    font-family: 'Georgia';
    font-size: 32px;
    line-height: 35px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #F1CDB3;
  }

  .nav-container .logo-block a {
    padding-left: 0;
  }

  .active {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s ease;
    width: 100vw;
    height: 100vh;
    background-color: rgba(41, 41, 41, 0.6);
  }

  .burger-menu {
    display: block;
    z-index: 3;
    transition: 0.5s;
  }

  .burger-menu.open {
    transform: rotate(90deg);
    transition: 0.5s;
  }

  .burger-menu span {
    position: relative;
    z-index: 2;
    display: block;
    margin: 8px 0;
    width: 30px;
    height: 2px;
    background-color: #F1CDB3;
  }

  .not-only-block {
    max-width: 300px;
    text-align: center;
  }

  .not-only-block h2 {
    padding: 0px 0 42px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.06em;
  }

  .not-only-image {
    padding: 105px 0 0 40px;
  }

  .not-only-image img {
    height: 271.77px;
  }

  .about-container {
    padding: 42px 0 42.4px 0;
  }

  .about-block {
    max-width: 270px;
    padding-bottom: 42px;
  }

  .section-title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }

  .dark {
    text-align: justify;
  }

  .about-block p:last-child {
    padding-top: 22px;
  }

  .our-friends-section {
    padding: 42px 0 42px 0;
  }

  .centered {
    padding-bottom: 42px;
  }

  .cards-container div:nth-child(2) {
    display: none;
  }

  .slider-container {
    max-width: 300px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }

  .cards-container {
    order: -1;
  }

  .prev,
  .next {
    margin-top: 0;
  }

  .rest-button {
    margin-top: 42px;
  }

  .help-section {
    padding: 42px 0 42px 0;
  }

  .options-icon {
    background-size: 83.33%;
    background-position: top;
    padding-bottom: 20px;
    height: 50px;
  }

  .options-container {
    margin: 0 auto;
    padding: 0 5px 0 5px;
    max-width: 300px;
    column-gap: 10.34%;
    row-gap: 30px;
  }

  .options-element {
    width: 44.83%;
  }

  .options-element h4 {
    font-size: 15px;
    line-height: 17px;
  }
  
  .in-addition-section {
    margin-top: 0;
  }

  .in-addition-container {
    padding: 42px 0 42px 0;
  }

  .in-addition-block {
    max-width: 300px;
  }

  h5 {
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
  }

  .in-addition-block p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
  }

  .account-button {
    margin: 0 auto;
    width: 281px;
    background-position: 5.7%;
  }

  .account-button a h4 {
    font-size: 15px;
    line-height: 17px;
  }

  .in-addition-image {
    padding: 42px 0 0;
  }

  .contacts-container {
    padding: 30px 0 0 0;
    max-width: 300px;
    align-items: center;
  }

  .contacts-block {
    margin: 0 auto;
    padding-bottom: 40px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .location-block {
    align-items: start;
  }

  .location-block h3 {
    max-width: 270px;
    padding: 0 15px 40px;
  }

  .first-item {
    height: 46px;
  }
}